<div class="footer-container d-flex h-100 container-fluid">
    <p class="mr-auto mt-3">Code licensed under
        <a href="https://opensource.org/licenses/<%= license %>">
            <%= license %>
        </a>
    </p>
    <p class="mt-3">Built by
        <%= author %> (
            <a href="https://github.com/andrefuller/" target="_blank">@andrefuller</a> )</p>
</div>