<div>
  <a class="d-flex w-100" href="#<%- location %>" title="<%- title %>">
    <img class="img-thumbnail" src="<%- posterSmall %>" alt="<%- title %>">
    <div class="info">
      <span class="text-truncate"><%- title %></span>
      <small class="text-muted text-truncate"><%- castListTxt %></small>
    </div>
  </a>
</div>