<header class="jumbotron masthead">
    <h1>About</h1>
    <p>Apple Trailer Viewer is a HTML5/JS sample application that I built to teach myself how to use the latest and greatest tools for modern web application development.</p>
    <p><a href="https://github.com/andrefuller/AppleTrailerViewer" class="btn btn-primary btn-large">View this project on GitHub</a></p>
</header>
<div>
    <p class="lead">The original version of this app was created in 2010 in a day using <a href="http://www.adobe.com/products/flex.html" target="_blank">Adobe Flex</a> 4.1 as a request for a code sample for a UI Developer position, which, I think, sealed the deal (well, that, and my perspicacity and gregarious personality). However, now that "Flash <a href="http://www.apple.com/hotnews/thoughts-on-flash/" target="_blank">isn't</a> <a href="http://www.useit.com/alertbox/20001029.html" target="_blank">cool</a> <a href="http://www.zdnet.com/blog/networking/flash-is-dead-long-live-html5/1633" target="_blank">anymore</a>" (except, maybe, in <a href="http://www.digiday.com/brands/why-ikea-bets-on-flash-not-html5/" target="_blank">sweden</a>), I've <em>begrudgingly</em> started playing with HTML5/JS so that I can be cool again, which is the most important thing to me <strong>IN THE WORLD</strong>.</p>
</div>
<div class="marketing">
    <h1>Tools of the trade</h1>
    <p class="marketing-byline">What I used to build this app, and why</p>
    <div class="row">
        <div class="span4">
            <h2><a href="http://requirejs.org" target="_blank">RequireJS</a></h2>
            <p>This handles the ordered and/or lazy loading of all the JS frameworks, libraries and files in the application, as well as the template snippets via the <a href="http://requirejs.org/docs/download.html#text" target="_blank">text plugin</a>. The killer feature though, is that it requests dependencies ONLY when they are actually needed/used. Awesome!</p>
        </div>
        <div class="span4">
            <h2><a href="http://jquery.com" target="_blank">jQuery</a></h2>
            <p>I used this for all the DOM manipulation and animation for the application. It's a hard requirement for using many of the other components and plugins in the app (particularly twitter bootstrap) but only a soft requirement for using Backbone.</p>
        </div>
        <div class="span4">
            <h2><a href="http://underscorejs.org" target="_blank">Underscore</a></h2>
            <p>Utility library of JS functions which I've used primarily templating. It is the only hard requirement for backbone, but I would probably end up using it anyway because of it's usefulness.</p>
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <h2><a href="http://backbonejs.org" target="_blank">Backbone</a></h2>
            <p>This is the glue that holds the app together. It facilitates a MVC (<a href="./js/models">Model</a>/<a href="./js/collections">Collections</a>, <a href="./js/views">View</a> & <a href="./js/router.js">Controller/Router</a>) structure for the application which, when done correctly, allows for a separation of concerns approach therefore dramatically improves the maintainability of the app.</p>
        </div>
        <div class="span4">
            <h2><a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a></h2>
            <p>The HTML5/CSS framework upon which the entire look and feel of the application is based. I used it because it provides an excellent base from which almost anything can built... and because while I primarily wanted to focus on learning the other tools rather than worrying too much about layout and div alignment, I still wanted it to look good. Done, and done.</p>
        </div>
        <div class="span4">
            <h2><a href="http://www.datejs.com/" target="_blank">Datejs</a></h2>
            <p>The name of this library is self-explanatory... I use it to format the dates that are displayed to the user.</p>
        </div>
    </div>
</div>

<div class="marketing">
    <h1>What I've learnt</h1>
    <p class="marketing-byline">Some of the gotcha's, all of the lessons</p>
    <div class="lesson">
        <h2>Lesson 1.</h2>
        <p>I spent a lot of time trying to understand how RequireJS worked and got a little confused between difference of how version 1.0x works versus 2.0.x. While both have the ability to control the critically important order with which your JS is loaded, version 2.x uses a "shim" option in the configuration which makes it easier to control the inclusion and export of dependencies, and breaks the need for the order plugin which version 1.0.x used for that requirement.</p>
    </div>
    <div class="lesson">
        <h2>Lesson 2.</h2>
        <p>Using templates for the application was worth the effort. I can make changes to very specific parts of the application without worrying too much breaking anything else.</p>
        <p>In hindsight though, I now understand the purpose of using a logic-less templating engine like <a href="http://mustache.github.com/" target="_blank">mustache</a>, because it would ostensibly make the template more re-usable, and, quite frankly, cleaner.</p>
    </div>
    <div class="lesson">
        <h2>Lesson 3.</h2>
        <p>This is kind of JS-101, but, you always have to be careful that you are referencing the proper scope. Here's a general example of how to maintain proper scope:</p>

        <pre class="prettyprint linenums">
            var scope = function(){
                // Store a reference to the current scope
                var that = this;
                var trailerListView = new TrailerListView();
                trailerListView.on( 'viewTrailerInfo', function( trailerIndex ){
                    // Use the cached reference to this here, to keep scope
                    that.viewTrailerInfo( trailerIndex );
                });
            };
        </pre>
    </div>
    <div class="lesson">
        <h2>Lesson 4.</h2>
        <p>I had to do some formatting of the incoming data, which I decided to do in the <code>initialize</code> function of the model. There is probably a better place to do this, but it works. I also used Backbone's <code>set</code> and <code>get</code> to add or update the model attributes so that when the model is parsed to JSON, it would be as it should be.</p>
    </div>
</div>

<p class="pull-right">Built by <a href="http://twitter.com/andrefuller" target="_blank">@andrefuller</a>.</p>
<p>Code licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</a>.</p>