<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <!-- This is for smaller screens -->
            <button type="button"class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="brand" href="#">Apple Trailer Viewer</a>

            <!-- The div below will be hidden at 940px or less, and be replaced with a button bar above -->
            <div class="nav-collapse pull-right">
                <ul class="nav">
                    <li><a href="#about">About</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>