<div class="trailerView">
	<ul class="breadcrumb">
		<li>
			<a href="#">Home</a> <span class="divider">/</span>
		</li>
		<li class="active"><%= trailer.title %></li>
	</ul>
    <header>
        <h1>
			<%= trailer.title %> <small><%= trailer.rating %></small>
			<% if( trailer.isExclusive ) { %>
			<span class="label label-info">Exclusive</span>
			<% } %>
		</h1>
        <h4><small>Studio: </small><%= trailer.studio %></h4>

		<h4><small>In theaters: </small><%= trailer.releaseDateTxt %></h4>

		<% if( trailer.moviesite !== undefined ) { %>
		<div class="pull-right">
			<a href="<%= trailer.moviesite %>" target="_blank" class="btn btn-success btn-large">View Movie Site</a>
		</div>
		<% } %>
    </header>
    <hr>
    <div class="row">
        <div class="span4">
            <img src="<%= trailer.posterXLarge %>" alt="<%= trailer.title %>">
        </div>
        <div class="span8">
			<h2>Trailers <span class="badge badge-important"><%= trailer.trailerList.length %></span></h2>
			<div class="well">
				<div class="btn-toolbar">
				<% _.each( trailer.trailerList, function(trailerInfo, index, list) { %>
					<h3><%= trailerInfo.videoType %></h3>
					<div class="btn-group">
						<a class="btn" href="<%= trailerInfo.videoSmall %>">480p</a>
						<a class="btn" href="<%= trailerInfo.videoMedium %>">720p</a>
						<a class="btn" href="<%= trailerInfo.videoLarge %>">1080p</a>
					</div>
					<% if( list.length > 1 && index < list.length - 1 ) { %>
					<hr>
					<% } %>
				<% }); %>
				</div>
			</div>
			<h2>Info</h2>
			<div class="well">
				<h3>Genre:</h3>
				<p><%= trailer.genreListTxt %></p>

				<h3>Director:</h3>
				<p><%= trailer.directors %></p>

				<% if( trailer.castListTxt !== undefined ) { %>
				<h3>Cast:</h3>
				<p><%= trailer.castListTxt %></p>
				<% } %>
			</div>
		</div>
    </div>
</div>